.filesView {
    width: 100%;
    margin-right: 20px;
}

.filesView__row {
    height: 250px;
    display: flex;
    align-items: center;
}

.filesView__titles {
    display: flex;
    margin-bottom: 5px;
    color: rgb(85,78,78);
}

.filesView__titles--left {
    flex: 1;
}

.filesView__titles--right {
    display: flex;
    margin-right: 10px;
}

.filesView__titles--right--p {
    margin-right: 10px;
}